## --> Formbot CFGs <--#--> UPDATED with [Update Manager] ! <-- ##

# Safe to leave alone
#[include Xp_Macros_Base.cfg] # Good
[include Xp_Xplorer_Vars.cfg] # Good, can probably sync with hack vars
[include hack_Macros_IQEX.cfg] # Good
[include Xp_Shell*.cfg] # Good
[include Xp_Basic_Settings.cfg] # Electronics fan is in here and can't be pulled from stock configs
[include Xp_Calibrate_offsets_IQEX.cfg]

# Review for functionality, do I need these?
[include Xp_Macros_T0.cfg]
[include Xp_Macros_T1.cfg]
[include Xp_Macros_T2.cfg]
[include Xp_Macros_T3.cfg]

# Review For quality and functionality to the chaos build
[include Xp_Shell_Commands_Base.cfg]
[include Xp_Shell_Commands_T0.cfg]
[include Xp_Shell_Commands_T1.cfg]
[include Xp_Shell_Commands_T2.cfg]
[include Xp_Shell_Commands_T3.cfg]

##################################################################

[printer]
kinematics: generic_cartesian

##################################################################

##################################
# Z Stepper Align
##################################

[z_tilt]
z_positions: -60.1, -3.9            # Z Belt position relativ to origin  (left Z Motor)
               210, 537.5           # Z1 Belt position relativ to origin (back Z Motor)
              481.1, -3.9           # Z2 Belt position relativ to origin (right Z Motor)


points: 80, 140     # probing point left Z Motor (raised to respect rear gantry Y>=140)
        210, 360    # probing point back Z Motor
        340, 140    # probing point right Z Motor (raised to respect rear gantry Y>=140)

speed: 200
horizontal_move_z: 7
retries: 10
retry_tolerance: 0.025

##################################
# Bed Mesh
##################################

[bed_mesh]
zero_reference_position: 200, 200
speed: 200
horizontal_move_z: 2
mesh_min: 20, 135
mesh_max: 338, 380
probe_count: 20, 20
mesh_pps: 0, 0
#fade_end: 10
#fade_target: 0