##################################
# Specs Xplorer 
##################################

[printer]
max_velocity: 300
max_accel: 5000 
max_z_velocity: 40
max_z_accel: 100
minimum_cruise_ratio: 0.5
square_corner_velocity: 5.0

##################################
#  Xplorer specific modules
##################################

[xplorer]               # imports the py modules for the Xplorer into klippy/extras

[trsync_patch]          # when 'True' it increases TRSYNC_TIMEOUT to 0.050 (Klipper default is 0.025) in order to avoid communication errors between the MCUs and the host.
enabled: False

##################################
# Folder to save variables
##################################

[save_variables]
filename:~/printer_data/config/variables.cfg

##################################
# Force Move 
##################################

[force_move]
enable_force_move: True

##################################
# Input Shaper
##################################

[input_shaper]

##################################
# Calibrate endstop phases
##################################

[endstop_phase]

##################################
# Support SDCard looping
##################################

[sdcard_loop]

##################################
# Exclude Objects
##################################

[exclude_object]

##################################
# Enable skew correction
##################################

[skew_correction] 

##################################
# Enable arcs support
##################################

[gcode_arcs]
resolution: 0.5

##################################
# idle timeout
##################################

[idle_timeout]
TIMEOUT: 3600 #1 hour

##################################
# Respond
##################################

[respond]
default_type: echo

##################################
# Temperature Sensors
##################################

[temperature_sensor Mainboard]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor Host]
sensor_type: temperature_host

##################################
# Temperature Fans
##################################

#[temperature_fan chamber_fan]
#pin: PF7 # BTT M8P V2.0 // PE6 #BTT M8P V1.1
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#cycle_time:0.01
#off_below:0.1
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: PB0 # BTT M8P V2.0 //  PA1 #BTT M8P V1.1
#min_temp: 0
#target_temp:40
#max_temp: 65
#control: watermark
#gcode_id: C

#[temperature_fan Electronics_fan]
#pin:PA4 # BTT M8P V2.0 // PE4 #BTT M8P V1.1
#max_power:1.0
#control:watermark
#max_delta:2
#sensor_type:temperature_host
#min_temp:0
#max_temp:85
#target_temp:50

[controller_fan Electronics_fan]
pin: PA4 #Manta M8P V2.0 # PC12 # Manta M8P V1.1
max_power: 1.0
shutdown_speed: 0
fan_speed: 1.0
idle_timeout: 60

##################################
# Print bed
##################################

[heater_bed]
heater_pin: PA0 # BTT M8P V2.0 // PE3 #BTT M8P V1.1                    
sensor_type: Generic 3950
sensor_pin: PB1 # BTT M8P V2.0 // PA0 #BTT M8P V1.1                       
min_temp: 0
max_temp: 125

[verify_heater heater_bed]
max_error: 10
check_gain_time: 120
hysteresis: 2


##################################
# Case light
##################################

[neopixel caselight]
pin: PD15
chain_count: 44
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
initial_WHITE: 1.0

#[output_pin caselight]
#pin: PA1 # BTT M8P V2.0 // PB5 #BTT M8P V1.1 
#pwm:true
#cycle_time: 0.01
#value: 1
#shutdown_value: 0

##################################
# Power ON/OFF
##################################

[output_pin Power]
pin: PD14 # BTT M8P V2.0 // PC3 #BTT M8P V1.1
value: 1