##################################
# Shell Commands
##################################

#######################################################
# Flash xplorer MCU Mainboard BTT Manta M8P V2.0
#######################################################

[gcode_shell_command flash_mcu_mb]
command: /bin/bash "$HOME/printer_data/config/0_Xplorer/.9_MCU_Flash/scripts/flash_M1_BTTM8PV20.sh"
timeout: 80


[gcode_macro Flash_Mainboard]
description: This macro flashes the Mainboard with the latest Klipper version from your system
gcode:
    M118 This will flash the mainboard with the latest Klipper firmware.
    M118 The process may take a few minutes, so be patient.
    RUN_SHELL_COMMAND CMD=flash_mcu_mb
    M118 Flash is COMPLETE