[include mainsail.cfg]
#[include ./02__Boards_Serials/*.cfg]  

[include ./02__Boards_Serials/Mainboard_serial.cfg]                                              #

[include ./02__Boards_Serials/h36_board_pins.cfg]

[include ./02__Boards_Serials/Tool0_serial.cfg]                                                  #
[include ./02__Boards_Serials/Tool1_serial.cfg]                                                  #
[include ./02__Boards_Serials/Tool2_serial.cfg]                                                 #
[include ./02__Boards_Serials/Tool3_serial.cfg]                                                 #
                                                #
[include ./02__Boards_Serials/Carto_serial.cfg]#
[include ./0_Xplorer/01_Default_CFG/hack_IQEX.cfg]                                             #
                                                                                                 #
##################################################################################################

##################################################################################################

#### --> User custom CFGs <--################       ############### --> Added  by the user <-- ###
                                                                                                  #
[include ./01__User_Custom__CFG/led_effects.cfg]                                                  #
[include ./01__User_Custom__CFG/carto.cfg]                                                        #
[include ./01__User_Custom__CFG/stepperfan.cfg]                                                   #
[include ./01__User_Custom__CFG/toolheads.cfg]                                                    #
#[include ./01__User_Custom__CFG/chamberheater.cfg]                                                #
[include ./01__User_Custom__CFG/overrides.cfg]
#[include ./01__User_Custom__CFG/nevermore.cfg]
[include ./Macros/*.cfg]                                                                          #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
                                                                                                  #
##################################################################################################


# ██╗  ██╗       █████╗ ██╗  ██╗██╗███████╗
# ╚██╗██╔╝      ██╔══██╗╚██╗██╔╝██║██╔════╝
#  ╚███╔╝ ██████╗███████║ ╚███╔╝ ██║███████╗
#  ██╔██╗ ╚═════╝██╔══██║ ██╔██╗ ██║╚════██║
# ██╔╝ ██╗      ██║  ██║██╔╝ ██╗██║███████║
# ╚═╝  ╚═╝      ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚══════╝


##################################
# Carriage Tool1
##################################

[carriage t0]
axis: x
endstop_pin:~Tool0:X_ENDSTOP
position_min: -1
position_endstop: 0
position_max: 340
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x]
carriages: t0
step_pin: Tool0: X_E_STEP
dir_pin: !Tool0: X_E_DIR
enable_pin: !Tool0: X_E_EN
microsteps: 32
rotation_distance: 32

[tmc2209 stepper x]
uart_pin: Tool0: X_UART
run_current: 0.6
interpolate: false
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Carriage Tool1
##################################

[dual_carriage t1]
primary_carriage: t0
safe_distance: 80
endstop_pin:~Tool1: X_ENDSTOP
position_min: 80
position_endstop: 421
position_max: 422
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x1]
carriages: t1
step_pin: Tool1: X_E_STEP
dir_pin: !Tool1: X_E_DIR
enable_pin: !Tool1: X_E_EN
microsteps: 32
rotation_distance: 32

[tmc2209 stepper x1]
uart_pin: Tool1: X_UART
run_current: 0.6
interpolate: false
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Carriage Tool2
##################################

[dual_carriage t2]
axis: x
endstop_pin: ~Tool2: X_ENDSTOP
position_min: -1
position_endstop: 0
position_max: 340
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10
#homing_positive_dir:

[stepper x2]
carriages: t2
step_pin: Tool2: X_E_STEP
dir_pin: Tool2: X_E_DIR
enable_pin: !Tool2: X_E_EN
microsteps: 32
rotation_distance: 32

[tmc2209 stepper x2]
uart_pin: Tool2: X_UART
run_current: 0.6
interpolate: false
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Carriage Tool3
##################################

[dual_carriage t3]
primary_carriage: t2
safe_distance: 80
endstop_pin:~Tool3: X_ENDSTOP
position_min: 80
position_endstop: 421
position_max: 422
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x3]
carriages: t3
step_pin: Tool3: X_E_STEP
dir_pin: Tool3: X_E_DIR
enable_pin: !Tool3: X_E_EN
microsteps: 32
rotation_distance: 32

[tmc2209 stepper x3]
uart_pin: Tool3: X_UART
run_current: 0.6
interpolate: false
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

# ██╗   ██╗       █████╗ ██╗  ██╗██╗███████╗
# ╚██╗ ██╔╝      ██╔══██╗╚██╗██╔╝██║██╔════╝
#  ╚████╔╝ ██████╗███████║ ╚███╔╝ ██║███████╗
#   ╚██╔╝  ╚═════╝██╔══██║ ██╔██╗ ██║╚════██║
#    ██║         ██║  ██║██╔╝ ██╗██║███████║
#    ╚═╝         ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚══════╝
#       BACK side of the printer    ##
#                                   ##
#       Y                   Y1      ##
#                                   ##
#       Y2                   Y3     ##
#     Front side of the printer    ##


#  Back side of the printer  ##

######################################
##### Rear side of the printer  #####
######################################

[carriage gantry0]
axis: y
endstop_pin: ~PF3
position_endstop: 449
position_max: 450
position_min: -1 #92
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

# Port m5 btt m8p
[stepper y]
carriages: gantry0
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
microsteps: 32
rotation_distance: 40

[tmc2209 stepper y]
uart_pin: PG14
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

# Port m6 btt m8p
[stepper y1]
carriages: gantry0
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
microsteps: 32
rotation_distance: 40

[tmc2209 stepper y1]
uart_pin: PG10
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

######################################
##### Front side of the printer  #####
######################################

[dual_carriage gantry1]
safe_distance: 70
primary_carriage: gantry0
endstop_pin: ~PF4
position_endstop: 0
position_max: 450 #357
position_min: -1
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

# m7 port btt m8p
[stepper y2]
carriages: gantry1
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 32
rotation_distance: 40

[tmc2209 stepper y2]
uart_pin: PD5
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

# m8 port btt m8p
[stepper y3]
carriages: gantry1
step_pin: PC7
dir_pin: !PC8
enable_pin: !PD2
microsteps: 32
rotation_distance: 40

[tmc2209 stepper y3]
uart_pin: PC6
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

# ███████╗       █████╗ ██╗  ██╗██╗███████╗
# ╚══███╔╝      ██╔══██╗╚██╗██╔╝██║██╔════╝
#   ███╔╝ ██████╗███████║ ╚███╔╝ ██║███████╗
#  ███╔╝  ╚═════╝██╔══██║ ██╔██╗ ██║╚════██║
# ███████╗      ██║  ██║██╔╝ ██╗██║███████║
# ╚══════╝      ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚══════╝

#   BACK of the printer   #
#                         #
#           Z1            #
#                         #
#       Z       Z2        #
#                         #
#   FRONT of the printer  #


######################################
#####        Front Left Z        #####
######################################

[carriage z]
axis: z
endstop_pin: ~PF4
position_endstop: 401
position_max: 401
position_min: -3
homing_speed: 20
homing_retract_dist: 10.0
homing_retract_speed: 10
second_homing_speed: 5

#m1 port btt m8p
[stepper z]
carriages: z
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC15
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z]
uart_pin: PC13
run_current: 1.1
stealthchop_threshold: 999999

######################################
#####        Rear Z              #####
######################################

[extra_carriage z1]
primary_carriage: z
endstop_pin: ~PF3

# m2 port BTT m8p
[stepper z1]
carriages: z1
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z1]
uart_pin: PE3
run_current: 1.1
stealthchop_threshold: 999999

######################################
#####      Front Right Z         #####
######################################

[extra_carriage z2]
primary_carriage: z
endstop_pin: ~PF2

# m3 port btt m8p
[stepper z2]
carriages: z2
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z2]
uart_pin: PB9
run_current: 1.1
stealthchop_threshold: 999999

##################################################################################################
# PID Configs                                                                                    #
##################################################################################################

[extruder]
pwm_cycle_time: 0.02088
#control: pid
#pid_Kp: 24.452
#pid_Ki: 2.397
#pid_Kd: 62.353

[extruder1]
pwm_cycle_time: 0.02088
#control: pid
#pid_Kp: 24.614
#pid_Ki: 2.413
#pid_Kd: 62.767

[extruder2]
pwm_cycle_time: 0.02088
control: pid
pid_Kp: 24.614
pid_Ki: 2.413
pid_Kd: 62.767

[extruder3]
pwm_cycle_time: 0.02088
control: pid
pid_Kp: 24.614
pid_Ki: 2.413
pid_Kd: 62.767

[heater_bed]
pwm_cycle_time: 0.02227   # 44.9 Hz
#control: pid
#pid_Kp:58.857
#pid_Ki:2.616
#pid_Kd:331.070

#pwm_cycle_time: 0.02 # use this value for 50Hz power systems (in EU for example)
#pwm_cycle_time: 0.0166 # use this value for 60Hz power systems (in USA and Canada for example)

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [skew_correction SKEW1]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction SKEW0]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.053
#*# pid_ki = 1.874
#*# pid_kd = 70.884
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 21.386
#*# pid_ki = 1.550
#*# pid_kd = 73.778
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.472
#*# pid_ki = 2.807
#*# pid_kd = 429.859
#*#
#*#

