[include fluidd.cfg]

#################################################################################################################
################################# Variables that can be changed by the user ################################################
#################################################################################################################

######################## Description of the variables from Variables.cfg#########################
#                                                                                               #
# bp_zoff >>> Correction coefficient for Automatic Bed Probe calibration                        #
# tprobe >>> Temp of the Nozzles when probing the sensor                                        #
# mesh_tmp >>> Bed temp for Bed Mesh Leveling                                                   #
# h_brush >>> Z_Height for Nozzle brush                                                         #
# pmode >>> print mode for the nex print. 0-primary, 1-copy, 2-mirror                           #
# ttovr >>> toolhead take over. 0-None, 1-Tool0, 2-Tool1,                                       #
# pwrendp >>> power supply at end of the print.0-off, 1-on                                      #
# >>> Y-offset T1 / T2 / T3 :                                                                   #
# x1offset                                                                                      #
# x2offset                                                                                      #
# x3offset                                                                                      #
# >>> Y-offset T1 / T2 / T3 :                                                                   #
# y1offset                                                                                      #
# y2offset                                                                                      #
# y3offset                                                                                      #
# >>> Z-offset T1 / T2 / T3 :                                                                   #
# z1offset                                                                                      #
# z2offset                                                                                      #
# z3offset                                                                                      #
# >>> input shaper settings                                                                     #
#shaper_type_***                                                                                #
#shaper_freq_***                                                                                #
#                                                                                               #
#################################################################################################

## --> Default CFGs <--#################################--> NO update with [Update Manager] <-- ##
                                                                                                 #
[include ./02__Boards_Serials/Mainboard_serial.cfg]                                              #
[include ./02__Boards_Serials/Tool0_serial.cfg]                                                  #
[include ./02__Boards_Serials/Tool1_serial.cfg]                                                  #
[include ./02__Boards_Serials/Tool2_serial.cfg]                                                 #
[include ./02__Boards_Serials/Tool3_serial.cfg]                                                 #
[include ./02__Boards_Serials/Hexa_serial.cfg]                                                   #
[include ./02__Boards_Serials/Carto_serial.cfg]                                                   #
[include fluidd.cfg]                                                                           #
#[include timelapse.cfg]                                                                          #
#[include moonraker_obico_macros.cfg]                                                            #
                                                                                                 #
##################################################################################################

## --> Formbot CFGs <--#################################--> UPDATED with [Update Manager] ! <-- ##
                                                                                                 #
[include ./0_Xplorer/01_Default_CFG/hack_IQEX.cfg]                                             #
                                                                                                 #
##################################################################################################

##################################################################################################

#### --> User custom CFGs <--################       ############### --> Added  by the user <-- ###
                                                                                                  #
[include ./01__User_Custom__CFG/led_effects.cfg]                                                  #
[include ./01__User_Custom__CFG/carto.cfg]                                                        #
[include ./01__User_Custom__CFG/stepperfan.cfg]                                                   #
[include ./01__User_Custom__CFG/toolheads.cfg]                                                    #
#[include ./01__User_Custom__CFG/chamberheater.cfg]                                                #
[include ./01__User_Custom__CFG/overrides.cfg]
#[include ./01__User_Custom__CFG/nevermore.cfg]
[include ./Macros/*.cfg]                                                                          #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
                                                                                                  #
##################################################################################################

##################################################################################################
# X Axis
##################################################################################################

##################################
# Carriage Tool1
##################################

[carriage t0]
axis: x
endstop_pin:~Tool0: PA10
position_min: -1
position_endstop: 0
position_max: 340
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x]
carriages: t0
step_pin: Tool0: PB4
dir_pin: !Tool0: PB5
enable_pin: !Tool0:PC13
microsteps: 32
rotation_distance: 32

[tmc2209 stepper x]
uart_pin: Tool0:PB3
run_current: 0.6
interpolate: false
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Carriage Tool1
##################################

[dual_carriage t1]
primary_carriage: t0
safe_distance: 80
endstop_pin:~Tool1: PA10
position_min: 80
position_endstop: 421
position_max: 422
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x1]
carriages: t1
step_pin: Tool1:PB4
dir_pin: !Tool1:PB5
enable_pin: !Tool1:PC13
microsteps: 32
rotation_distance: 32

[tmc2209 stepper x1]
uart_pin: Tool1:PB3
run_current: 0.6
interpolate: false
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Carriage Tool2
##################################

[dual_carriage t2]
axis: x
endstop_pin: ~Tool2: PA10
position_min: -1
position_endstop: 0
position_max: 340
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10
#homing_positive_dir:

[stepper x2]
carriages: t2
step_pin: Tool2: PB4
dir_pin: Tool2: PB5
enable_pin: !Tool2:PC13
microsteps: 32
rotation_distance: 32

[tmc2209 stepper x2]
uart_pin: Tool2:PB3
run_current: 0.6
interpolate: false
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Carriage Tool3
##################################

[dual_carriage t3]
primary_carriage: t2
safe_distance: 80
endstop_pin:~Tool3: PA10
position_min: 80
position_endstop: 421
position_max: 422
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x3]
carriages: t3
step_pin: Tool3:PB4
dir_pin: Tool3:PB5
enable_pin: !Tool3:PC13
microsteps: 32
rotation_distance: 32

[tmc2209 stepper x3]
uart_pin: Tool3:PB3
run_current: 0.6
interpolate: false
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################################################################################
# Y Axis
##################################################################################################
#       BACK side of the printer    ##
#                                   ##
#       Y                   Y1      ##
#                                   ##
#       Y2                   Y3     ##
#     Front side of the printer    ##


#  Back side of the printer  ##

######################################
##### Rear side of the printer  #####
######################################

[carriage gantry0]
axis: y
endstop_pin: ~PF3
position_endstop: 449
position_max: 450
position_min: -1 #92
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper y]
carriages: gantry0
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 32
rotation_distance: 40

[tmc2209 stepper y]
uart_pin: PD5
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

[stepper y1]
carriages: gantry0
step_pin: PC7
dir_pin: PC8
enable_pin: !PD2
microsteps: 32
rotation_distance: 40

[tmc2209 stepper y1]
uart_pin: PC6
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

######################################
##### Front side of the printer  #####
######################################

[dual_carriage gantry1]
safe_distance: 70
primary_carriage: gantry0
endstop_pin: ~PF4
position_endstop: 0
position_max: 450 #357
position_min: -1
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper y2]
carriages: gantry1
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
microsteps: 32
rotation_distance: 40

[tmc2209 stepper y2]
uart_pin: PG10
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

[stepper y3]
carriages: gantry1
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
microsteps: 32
rotation_distance: 40

[tmc2209 stepper y3]
uart_pin: PG14
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

##################################
# Z Axis -- 3 Steppers
##################################

#   BACK of the printer   #
#                         #
#           Z1            #
#                         #
#       Z       Z2        #
#                         #
#   FRONT of the printer  #

##################################################################################################
# Z Axis
##################################################################################################

######################################
#####        Front Left Z        #####
######################################

[carriage z]
axis: z
endstop_pin: ~PF1
position_endstop: 401
position_max: 401
position_min: -3
homing_speed: 20
homing_retract_dist: 10.0
homing_retract_speed: 10
second_homing_speed: 5

[stepper z]
carriages: z
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z]
uart_pin: PC13
run_current: 1.1
stealthchop_threshold: 999999

######################################
#####        Rear Z              #####
######################################

[extra_carriage z1]
primary_carriage: z
endstop_pin: ~PF0

[stepper z1]
carriages: z1
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z1]
uart_pin: PE3
run_current: 1.1
stealthchop_threshold: 999999

######################################
#####      Front Right Z         #####
######################################

[extra_carriage z2]
primary_carriage: z
endstop_pin: ~PC15

[stepper z2]
carriages: z2
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z2]
uart_pin: PB9
run_current: 1.1
stealthchop_threshold: 999999

##################################################################################################
# PID Configs                                                                                    #
##################################################################################################

[extruder]
pwm_cycle_time: 0.02088
#control: pid
#pid_Kp: 24.452
#pid_Ki: 2.397
#pid_Kd: 62.353

[extruder1]
pwm_cycle_time: 0.02088
#control: pid
#pid_Kp: 24.614
#pid_Ki: 2.413
#pid_Kd: 62.767

[extruder2]
pwm_cycle_time: 0.02088
control: pid
pid_Kp: 24.614
pid_Ki: 2.413
pid_Kd: 62.767

[extruder3]
pwm_cycle_time: 0.02088
control: pid
pid_Kp: 24.614
pid_Ki: 2.413
pid_Kd: 62.767

[heater_bed]
pwm_cycle_time: 0.02227   # 44.9 Hz
#control: pid
#pid_Kp:58.857
#pid_Ki:2.616
#pid_Kd:331.070

#pwm_cycle_time: 0.02 # use this value for 50Hz power systems (in EU for example)
#pwm_cycle_time: 0.0166 # use this value for 60Hz power systems (in USA and Canada for example)

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [skew_correction SKEW1]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction SKEW0]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.053
#*# pid_ki = 1.874
#*# pid_kd = 70.884
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 21.386
#*# pid_ki = 1.550
#*# pid_kd = 73.778
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.472
#*# pid_ki = 2.807
#*# pid_kd = 429.859
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.557433029247504,2.038674636490322,0.8380261291148152,0.30210439366304437,0.3711751634012111,0.7333297732657627,-0.2550578219922605,-0.8313970857027315,0.28938570939461705,0.4610071288135791
#*# domain = 3.2853574900050937e-07,3.351291084398074e-07
#*# z_offset = 0
#*# reference_temperature = 26.4
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.097032, -0.075665, -0.056206, -0.029939, -0.009102, -0.002250, -0.005637, 0.001198, 0.004720, 0.011535, 0.014964, 0.008166, -0.002250, -0.017777, -0.029903, -0.040405, -0.043918, -0.043918, -0.040405, -0.029976
#*# 	-0.100558, -0.079221, -0.061470, -0.035149, -0.016038, -0.009102, -0.012564, -0.005637, -0.002178, -0.002250, 0.008094, 0.004720, -0.005673, -0.022993, -0.033401, -0.043918, -0.043918, -0.040405, -0.036970, -0.029903
#*# 	-0.104217, -0.086355, -0.068561, -0.043918, -0.021223, -0.019517, -0.022928, -0.016038, -0.009102, -0.005637, -0.005637, -0.000490, -0.012564, -0.029903, -0.036897, -0.043918, -0.043918, -0.042162, -0.036897, -0.026446
#*# 	-0.111394, -0.097068, -0.077409, -0.052712, -0.029976, -0.022993, -0.019517, -0.016038, -0.012564, -0.009102, -0.009102, -0.002250, -0.009102, -0.026410, -0.033467, -0.040478, -0.040405, -0.038688, -0.031688, -0.019445
#*# 	-0.111364, -0.095241, -0.075598, -0.050952, -0.029903, -0.022961, -0.019517, -0.012564, -0.002178, 0.001198, -0.002178, 0.001198, -0.005637, -0.019517, -0.026410, -0.033401, -0.033467, -0.036897, -0.026482, -0.016038
#*# 	-0.122209, -0.102391, -0.082722, -0.059738, -0.040405, -0.029903, -0.026410, -0.012600, -0.005709, -0.002178, 0.001198, -0.002250, -0.005637, -0.017741, -0.024701, -0.031688, -0.035182, -0.031688, -0.026482, -0.015966
#*# 	-0.114971, -0.093450, -0.072107, -0.050879, -0.026410, -0.019481, -0.009102, 0.001277, 0.011535, 0.014964, 0.014964, 0.013285, 0.004649, -0.000490, -0.009102, -0.016038, -0.019517, -0.019517, -0.012564, -0.002250
#*# 	-0.122277, -0.097032, -0.079154, -0.057940, -0.029976, -0.022993, -0.012564, -0.002178, 0.011535, 0.014964, 0.014964, 0.011535, 0.006371, -0.002180, -0.007406, -0.016038, -0.016038, -0.012564, -0.009102, 0.001277
#*# 	-0.129468, -0.111364, -0.086288, -0.065013, -0.043918, -0.033401, -0.016038, -0.005637, 0.004649, 0.011535, 0.008130, 0.008094, 0.004649, -0.002178, -0.012564, -0.016038, -0.016038, -0.012564, -0.009102, 0.001277
#*# 	-0.140369, -0.116815, -0.093510, -0.070334, -0.047396, -0.036897, -0.026410, -0.007370, 0.004646, 0.011529, 0.011535, 0.009850, 0.008094, 0.001198, -0.009137, -0.016040, -0.017777, -0.014301, -0.005637, 0.004649
#*# 	-0.143990, -0.122209, -0.100626, -0.075665, -0.056173, -0.036897, -0.019517, -0.005637, 0.001277, 0.009850, 0.014964, 0.011535, 0.004720, -0.002178, -0.012564, -0.016038, -0.016038, -0.015966, -0.005676, 0.001198
#*# 	-0.151374, -0.125840, -0.107754, -0.088111, -0.061507, -0.040405, -0.019517, -0.005637, 0.006371, 0.014964, 0.014964, 0.014964, 0.011535, 0.001198, -0.009102, -0.014265, -0.014301, -0.014301, -0.005709, 0.004720
#*# 	-0.165964, -0.143990, -0.118591, -0.093450, -0.072107, -0.047363, -0.022928, -0.005637, -0.002250, 0.001198, 0.006407, 0.006407, 0.001277, -0.005637, -0.012564, -0.016038, -0.016038, -0.016038, -0.012564, -0.000490
#*# 	-0.180764, -0.154979, -0.129468, -0.104217, -0.079221, -0.054407, -0.029976, -0.016038, -0.009138, -0.005673, -0.002250, -0.002250, -0.005673, -0.012636, -0.019445, -0.022928, -0.022928, -0.022993, -0.019517, -0.000490
#*# 	-0.195645, -0.171533, -0.143990, -0.115039, -0.091658, -0.068561, -0.047429, -0.029903, -0.022928, -0.016038, -0.012564, -0.012564, -0.016038, -0.022928, -0.026482, -0.029903, -0.029976, -0.040405, -0.033401, -0.012564
#*# 	-0.221798, -0.190023, -0.162282, -0.133110, -0.107822, -0.079154, -0.058006, -0.043918, -0.036970, -0.029976, -0.024701, -0.022993, -0.028193, -0.036897, -0.038651, -0.042125, -0.043918, -0.047396, -0.043918, -0.026410
#*# 	-0.225634, -0.199378, -0.171533, -0.136718, -0.109559, -0.086355, -0.068561, -0.050952, -0.040405, -0.033401, -0.029976, -0.029903, -0.031688, -0.036897, -0.040405, -0.043918, -0.047429, -0.050952, -0.047363, -0.035182
#*# 	-0.238860, -0.206813, -0.177052, -0.144051, -0.118591, -0.089934, -0.068561, -0.054473, -0.043918, -0.036897, -0.029976, -0.026482, -0.036897, -0.040405, -0.047363, -0.054407, -0.056206, -0.054473, -0.047429, -0.036897
#*# 	-0.252165, -0.221853, -0.191919, -0.158658, -0.136688, -0.111364, -0.086288, -0.068561, -0.054407, -0.043918, -0.043918, -0.043918, -0.047429, -0.050952, -0.058006, -0.065013, -0.065013, -0.065013, -0.059705, -0.049154
#*# 	-0.259810, -0.229412, -0.203069, -0.177052, -0.153177, -0.122209, -0.093450, -0.079221, -0.065013, -0.065016, -0.042125, -0.040405, -0.043918, -0.052643, -0.059738, -0.065013, -0.072073, -0.072040, -0.061470, -0.047429
#*# min_x = 40.0
#*# min_y = 140.0
#*# max_x = 338.0
#*# max_y = 380.0
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [cartographer touch_model default]
#*# threshold = 1252
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.3.1
#*# mcu_version = CARTOGRAPHER 5.0.0
