# ████████╗ ██████╗  ██████╗ ██╗      ██████╗
# ╚══██╔══╝██╔═══██╗██╔═══██╗██║     ██╔═████╗
#    ██║   ██║   ██║██║   ██║██║     ██║██╔██║
#    ██║   ██║   ██║██║   ██║██║     ████╔╝██║
#    ██║   ╚██████╔╝╚██████╔╝███████╗╚██████╔╝
#    ╚═╝    ╚═════╝  ╚═════╝ ╚══════╝ ╚═════╝

#####################################################################
##	                 Temperature Monitoring
#####################################################################

[temperature_sensor T0_Stepper]
sensor_type: Generic 3950
sensor_pin: Tool0: DRV_TEMP               # Thermistor next to TMC2209 (4.7k pull up)
min_temp:0
max_temp:150

#####################################################################
##                  Extruder Motor
#####################################################################

[extruder]
step_pin: Tool0: E_STEP                   # Driver_STEP pin
dir_pin: !Tool0: E_DIR                    # Driver_DIR pin
enable_pin: !Tool0: E_EN               # Driver_EN pin
full_steps_per_rotation: 200         # Number of pulses required for a single motor revolution
microsteps: 32                       # Microsteps setting
rotation_distance:  4.800
nozzle_diameter: 0.400               # Nozzle diameter
filament_diameter: 1.750             # Filament diameter
heater_pin: Tool0: HE0                # Heat pin
min_temp: -20                        # Minimum temperature
max_temp: 330                        # Maximum temperature
min_extrude_temp: 180                # Minimum extrude temperature
pressure_advance: 0.03               # Pressure advance - try to keep pressure below 1.0
pressure_advance_smooth_time: 0.040   # Pressure advance smooth time - default is 0.040
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: Tool0: TH0
pullup_resistor: 2200            # Important: H36 uses a 2.2kΩ pull-up
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_cross_section: 4

[tmc2209 extruder]
sense_resistor: 0.110
uart_pin: Tool0: E_UART                # Driver_UART pin
interpolate: false                    # Enable 256 microstep interpolation
run_current: 0.8                    # Running current
stealthchop_threshold: 0

#--------------------------------------------------------------------
[verify_heater extruder]             # Heater block temperature tolerance configuration
max_error: 20                       # Maximum error
check_gain_time: 60                 # Tolerance time
hysteresis: 10                       # Tolerance temperature
heating_gain: 2                      # Heating gain

#####################################################################
##                  Fans
#####################################################################

[heater_fan hotend_T0_fan]          # Hotend fan
pin: Tool0: HE_FAN                  # FAN3 pin - Hotend fan
heater: extruder                 # Associated heating device
heater_temp: 50.0                # Temperature to start the fan
cycle_time: 0.00003              # Cycle time

#--------------------------------------------------------------------

[fan_generic Tool_0_partfan]     # 5015 Part cooling Blower
pin: multi_pin: Tool0_part_fans       # FAN2 pin - Nozzle fan
cycle_time: 0.1                  # Cycle time
hardware_pwm: false              # hardware pwm

#####################################################################
##                            RGB-LED Lights
#####################################################################

[neopixel Tool_0_rgb]
pin: Tool0: RGB                  # IO.2/RGB1 pin
chain_count: 2                # Number of LEDs
color_order: GRB             # Color order
initial_RED: 0.2              # Initial red brightness
initial_GREEN: 0.2            # Initial green brightness
initial_BLUE: 0.2             # Initial blue brightness

#####################################################################
# Input Shaper
#####################################################################

[adxl345 Tool0]
cs_pin: Tool0: CS
spi_software_sclk_pin: Tool0: SCLK
spi_software_mosi_pin: Tool0: MOSI
spi_software_miso_pin: Tool0: MISO
axes_map: -y,z,-x

[resonance_tester]
accel_chip: adxl345 Tool0
probe_points:
    210, 200, 50

#####################################################################
# Basic Filament Sensor
#####################################################################

[filament_switch_sensor Tool0]
switch_pin: Tool0: FILAMENT
pause_on_runout: false
#--------------------------------------------------------------------




# ████████╗ ██████╗  ██████╗ ██╗      ██╗
# ╚══██╔══╝██╔═══██╗██╔═══██╗██║     ███║
#    ██║   ██║   ██║██║   ██║██║     ╚██║
#    ██║   ██║   ██║██║   ██║██║      ██║
#    ██║   ╚██████╔╝╚██████╔╝███████╗ ██║
#    ╚═╝    ╚═════╝  ╚═════╝ ╚══════╝ ╚═╝
#
#
#####################################################################
##	                 Temperature Monitoring
#####################################################################

[temperature_sensor T1_Stepper]
sensor_type: Generic 3950
sensor_pin: Tool1: DRV_TEMP               # Thermistor next to TMC2209 (4.7k pull up)
min_temp:0
max_temp:150

#####################################################################
##                  Extruder Motor
#####################################################################

[extruder1]
step_pin: Tool1: E_STEP                   # Driver_STEP pin
dir_pin: !Tool1: E_DIR                    # Driver_DIR pin
enable_pin: !Tool1: E_EN               # Driver_EN pin
full_steps_per_rotation: 200         # Number of pulses required for a single motor revolution
microsteps: 32                       # Microsteps setting
rotation_distance:  4.800
nozzle_diameter: 0.400               # Nozzle diameter
filament_diameter: 1.750             # Filament diameter
heater_pin: Tool1: HE0                # Heat pin
min_temp: -20                        # Minimum temperature
max_temp: 330                        # Maximum temperature
min_extrude_temp: 180                # Minimum extrude temperature
pressure_advance: 0.03               # Pressure advance - try to keep pressure below 1.0
pressure_advance_smooth_time: 0.040   # Pressure advance smooth time - default is 0.040
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: Tool1: TH0
pullup_resistor: 2200            # Important: H36 uses a 2.2kΩ pull-up
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_cross_section: 4

[tmc2209 extruder1]
sense_resistor: 0.110
uart_pin: Tool1: E_UART                # Driver_UART pin
interpolate: false                    # Enable 256 microstep interpolation
run_current: 0.8                    # Running current
stealthchop_threshold: 0

#--------------------------------------------------------------------
[verify_heater extruder1]             # Heater block temperature tolerance configuration
max_error: 20                       # Maximum error
check_gain_time: 60                 # Tolerance time
hysteresis: 10                       # Tolerance temperature
heating_gain: 2                      # Heating gain

#####################################################################
##                  Fans
#####################################################################

[heater_fan hotend_T1_fan]          # Hotend fan
pin: Tool1: HE_FAN                  # FAN3 pin - Hotend fan
heater: extruder1                 # Associated heating device
heater_temp: 50.0                # Temperature to start the fan
cycle_time: 0.00003              # Cycle time

#--------------------------------------------------------------------

[fan_generic Tool_1_partfan]     # 5015 Part cooling Blower
pin: multi_pin: Tool1_part_fans       # FAN2 pin - Nozzle fan
cycle_time: 0.1                  # Cycle time
hardware_pwm: false              # hardware pwm

#####################################################################
##                            RGB-LED Lights
#####################################################################

[neopixel Tool_1_rgb]
pin: Tool1: RGB                  # IO.2/RGB1 pin
chain_count: 2                # Number of LEDs
color_order: GRB             # Color order
initial_RED: 0.2              # Initial red brightness
initial_GREEN: 0.2            # Initial green brightness
initial_BLUE: 0.2             # Initial blue brightness

#####################################################################
# Input Shaper
#####################################################################

[adxl345 Tool1]
cs_pin: Tool1: CS
spi_software_sclk_pin: Tool1: SCLK
spi_software_mosi_pin: Tool1: MOSI
spi_software_miso_pin: Tool1: MISO
axes_map: -y,z,-x


#####################################################################
# Basic Filament Sensor
#####################################################################

[filament_switch_sensor Tool1]
switch_pin: Tool1: FILAMENT
pause_on_runout: false
#--------------------------------------------------------------------



# ████████╗ ██████╗  ██████╗ ██╗      ██████╗
# ╚══██╔══╝██╔═══██╗██╔═══██╗██║     ╚════██╗
#    ██║   ██║   ██║██║   ██║██║      █████╔╝
#    ██║   ██║   ██║██║   ██║██║     ██╔═══╝
#    ██║   ╚██████╔╝╚██████╔╝███████╗███████╗
#   ╚═╝    ╚═════╝  ╚═════╝ ╚══════╝╚══════╝
#
#
#####################################################################
##	                 Temperature Monitoring
#####################################################################

[temperature_sensor T1_Stepper]
sensor_type: Generic 3950
sensor_pin: Tool2: DRV_TEMP               # Thermistor next to TMC2209 (4.7k pull up)
min_temp:0
max_temp:150

#####################################################################
##                  Extruder Motor
#####################################################################

[extruder2]
step_pin: Tool2: E_STEP                   # Driver_STEP pin
dir_pin: !Tool2: E_DIR                    # Driver_DIR pin
enable_pin: !Tool2: E_EN               # Driver_EN pin
full_steps_per_rotation: 200         # Number of pulses required for a single motor revolution
microsteps: 32                       # Microsteps setting
rotation_distance:  4.800
nozzle_diameter: 0.400               # Nozzle diameter
filament_diameter: 1.750             # Filament diameter
heater_pin: Tool2: HE0                # Heat pin
min_temp: -20                        # Minimum temperature
max_temp: 330                        # Maximum temperature
min_extrude_temp: 180                # Minimum extrude temperature
pressure_advance: 0.03               # Pressure advance - try to keep pressure below 1.0
pressure_advance_smooth_time: 0.040   # Pressure advance smooth time - default is 0.040
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: Tool2: TH0
pullup_resistor: 2200            # Important: H36 uses a 2.2kΩ pull-up
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_cross_section: 4

[tmc2209 extruder2]
sense_resistor: 0.110
uart_pin: Tool2: E_UART                # Driver_UART pin
interpolate: false                    # Enable 256 microstep interpolation
run_current: 0.8                    # Running current
stealthchop_threshold: 0

#--------------------------------------------------------------------
[verify_heater extruder2]             # Heater block temperature tolerance configuration
max_error: 20                       # Maximum error
check_gain_time: 60                 # Tolerance time
hysteresis: 10                       # Tolerance temperature
heating_gain: 2                      # Heating gain

#####################################################################
##                  Fans
#####################################################################

[heater_fan hotend_T2_fan]          # Hotend fan
pin: Tool2: HE_FAN                  # FAN3 pin - Hotend fan
heater: extruder2                # Associated heating device
heater_temp: 50.0                # Temperature to start the fan
cycle_time: 0.00003              # Cycle time

#--------------------------------------------------------------------

[fan_generic Tool_2_partfan]     # 5015 Part cooling Blower
pin: multi_pin: Tool2_part_fans       # FAN2 pin - Nozzle fan
cycle_time: 0.1                  # Cycle time
hardware_pwm: false              # hardware pwm

#####################################################################
##                            RGB-LED Lights
#####################################################################

[neopixel Tool_2_rgb]
pin: Tool2: RGB                  # IO.2/RGB1 pin
chain_count: 2                # Number of LEDs
color_order: GRB             # Color order
initial_RED: 0.2              # Initial red brightness
initial_GREEN: 0.2            # Initial green brightness
initial_BLUE: 0.2             # Initial blue brightness

#####################################################################
# Input Shaper
#####################################################################

[adxl345 Tool3]
cs_pin: Tool2: CS
spi_software_sclk_pin: Tool2: SCLK
spi_software_mosi_pin: Tool2: MOSI
spi_software_miso_pin: Tool2: MISO
axes_map: -y,z,-x

#####################################################################
# Basic Filament Sensor
#####################################################################

[filament_switch_sensor Tool2]
switch_pin: Tool2: FILAMENT
pause_on_runout: false
#--------------------------------------------------------------------


# ████████╗ ██████╗  ██████╗ ██╗      ██████╗
# ╚══██╔══╝██╔═══██╗██╔═══██╗██║     ╚════██╗
#    ██║   ██║   ██║██║   ██║██║      █████╔╝
#    ██║   ██║   ██║██║   ██║██║      ╚═══██╗
#    ██║   ╚██████╔╝╚██████╔╝███████╗██████╔╝
#    ╚═╝    ╚═════╝  ╚═════╝ ╚══════╝╚═════╝
#
#
#####################################################################
##	                 Temperature Monitoring
#####################################################################

[temperature_sensor T3_Stepper]
sensor_type: Generic 3950
sensor_pin: Tool3: DRV_TEMP               # Thermistor next to TMC2209 (4.7k pull up)
min_temp:0
max_temp:150

#####################################################################
##                  Extruder Motor
#####################################################################

[extruder3]
step_pin: Tool3: E_STEP                   # Driver_STEP pin
dir_pin: !Tool3: E_DIR                    # Driver_DIR pin
enable_pin: !Tool3: E_EN               # Driver_EN pin
full_steps_per_rotation: 200         # Number of pulses required for a single motor revolution
microsteps: 32                       # Microsteps setting
rotation_distance:  4.800
nozzle_diameter: 0.400               # Nozzle diameter
filament_diameter: 1.750             # Filament diameter
heater_pin: Tool3: HE0                # Heat pin
min_temp: -20                        # Minimum temperature
max_temp: 330                        # Maximum temperature
min_extrude_temp: 180                # Minimum extrude temperature
pressure_advance: 0.03               # Pressure advance - try to keep pressure below 1.0
pressure_advance_smooth_time: 0.040   # Pressure advance smooth time - default is 0.040
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: Tool3: TH0
pullup_resistor: 2200            # Important: H36 uses a 2.2kΩ pull-up
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_cross_section: 4

[tmc2209 extruder3]
sense_resistor: 0.110
uart_pin: Tool3: E_UART                # Driver_UART pin
interpolate: false                    # Enable 256 microstep interpolation
run_current: 0.8                    # Running current
stealthchop_threshold: 0

#--------------------------------------------------------------------
[verify_heater extruder3]             # Heater block temperature tolerance configuration
max_error: 20                       # Maximum error
check_gain_time: 60                 # Tolerance time
hysteresis: 10                       # Tolerance temperature
heating_gain: 2                      # Heating gain

#####################################################################
##                  Fans
#####################################################################

[heater_fan hotend_T3_fan]          # Hotend fan
pin: Tool3: HE_FAN                  # FAN3 pin - Hotend fan
heater: extruder3                 # Associated heating device
heater_temp: 50.0                # Temperature to start the fan
cycle_time: 0.00003              # Cycle time

#--------------------------------------------------------------------

[fan_generic Tool_3_partfan]     # 5015 Part cooling Blower
pin: multi_pin: Tool3_part_fans       # FAN2 pin - Nozzle fan
cycle_time: 0.1                  # Cycle time
hardware_pwm: false              # hardware pwm

#####################################################################
##                            RGB-LED Lights
#####################################################################

[neopixel Tool_3_rgb]
pin: Tool3: RGB                  # IO.2/RGB1 pin
chain_count: 2                # Number of LEDs
color_order: GRB             # Color order
initial_RED: 0.2              # Initial red brightness
initial_GREEN: 0.2            # Initial green brightness
initial_BLUE: 0.2             # Initial blue brightness

#####################################################################
# Input Shaper
#####################################################################

[adxl345 Tool3]
cs_pin: Tool3: CS
spi_software_sclk_pin: Tool3: SCLK
spi_software_mosi_pin: Tool3: MOSI
spi_software_miso_pin: Tool3: MISO
axes_map: -y,z,-x

#####################################################################
# Basic Filament Sensor
#####################################################################

[filament_switch_sensor Tool3]
switch_pin: Tool3: FILAMENT
pause_on_runout: false
#--------------------------------------------------------------------

