##################################
# Shell Commands
##################################
#######################################################
# Flash xplorer Tool3
#######################################################

[gcode_shell_command flash_mcu_t3]
command: sh $HOME/printer_data/config/0_Xplorer/.9_MCU_Flash/scripts/flash_mcus.sh --target Tool3
timeout: 80

[gcode_macro Flash_Tool3]
description: This macro flashes the Tool3 board with the latest Klipper version from your system
gcode:
    M118 This will flash the Tool3 boars with the latest Klipper firmware.
    M118 The process may take a few minutes, so be patient.
    RUN_SHELL_COMMAND CMD=flash_mcu_t3
    M118 Flash is COMPLETE

#######################################################
# Measure resonances on X-Axis
#######################################################

[gcode_shell_command resonances_x_t3]
command: sh $HOME/printer_data/config/0_Xplorer/.8_Scripts/resonances_X_t3.sh
timeout: 80

[gcode_macro Measure_Resonances_X_T3]
description: This macro mesures the resonances on the X-Axis and save a graphical representation as PNG-file
gcode:
    T3
    M118 This will measure the resonances on X-Axis for Tool3.
    M118 The process may take a few minutes, so be patient.
    CHECK_HOME
    #G28
    G1 X210 Y200 F10000
    G1 Z50 F2000
    TEST_RESONANCES AXIS=X ACCELEROMETER=Tool3
    RUN_SHELL_COMMAND CMD=resonances_x_t3
    M118 Resonance test is complete. Check the PNG file for details

#######################################################
# Measure resonances on Y-Axis
#######################################################

[gcode_shell_command resonances_y_t3]
command: sh $HOME/printer_data/config/0_Xplorer/.8_Scripts/resonances_Y_t3.sh
timeout: 80

[gcode_macro Measure_Resonances_Y_T3]
description: This macro mesures the resonances on the Y-Axis and save a graphical representation as PNG-file
gcode:
    M118 This will measure the resonances on Y-Axis for Tool3.
    M118 The process may take a few minutes, so be patient.
    CHECK_HOME
    #G28
    G1 X210 Y200 F10000
    G1 Z50 F2000
    TEST_RESONANCES AXIS=Y ACCELEROMETER=Tool3
    RUN_SHELL_COMMAND CMD=resonances_y_t3
    M118 Resonance test is complete. Check the PNG file for details
